:root{
    --red: #e80d0d;
    --orange: #f98500;
    --aqua5: #056868;
      --color2: #3a3d3d;
    --color3: #222222;
    --color4: #e6e6e6;
    --color5: #bfbfbf;
    --color5: #d4d4d4;
    
--aqua: #00BFBF;
--aqua1: #4FCFCF;
--aqua2: #28C5C5;
--aqua3: #009292;
--aqua4: #007171;

--font1:'Kaushan Script', cursive;
--font2:'Lato', sans-serif;
}