#portfolio {
    background-color: var(--black);
    background-size: cover;
    height: 100%;
    width: 100vw;
    margin: 1vh;
}

#portfolio h1{
    color: white;
    font-size: 3vw;
    font-family: 'Open Sans', sans-serif;
    margin-top: 2em;
    text-align: center;
}

#portfolio h2{
    color: white;
    font-size: 2vw;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 0.75em;
}

#portfolio p{
    color: white;
    font-size: 1.5vw;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-bottom: 0;
}

.portfolio img {
    padding: 3vh;
    /* height: */
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.individual {
    /* background-color: rgba(255, 255, 255, 0.2);  */
    background-color: #343a40;
    border-color: #001320;
    border-radius: 3em;
    margin-top: 1%;
    margin-left: 6%;
    margin-right: 6%;
    height: 75%;
    width: 75%;
}

.individual.project-caption h2 {
    padding-top: 6%;
}

.individual:hover {
    /* background-color: rgba(255, 255, 255, 0.2);  */
    background-color: #001320;
    /* border-color: #001320;
    border-radius: 3em;
    margin-top: 1%;
    margin-left: 6%;
    margin-right: 6%;
    height: 75%;
    width: 75%; */
}

/* .modalbtn {
    margin: auto;
    margin-top: 4%;
    display: block;
    text-align: center;
} */

#ghlink img{
    height: 4vh;
    padding: 0;
    padding-right: 3vh;
}

.gardens {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.gardens img {
    width: 100%;
}

.gardens img:hover {
    transform: scale(2.9); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    padding: 0;
}
