#quote{
    background-image: url("../Assets/Backgrounds/annie-spratt-419263-unsplash.jpg");
    background-size: cover;
    margin-top: 0em;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}


#quote p{
    font-size: 1.6vw;
    color: var(--black);
    text-align: justify;
    margin: 2em;
    font-family: 'Open Sans', sans-serif;
}

div.col.quoted{
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 10em;
    border-radius: 3em;
}
