:root {
    --blue: #1f223f;
    --darkblue: #090b21;
    --black: #000001;
    --teal: #1d273d;
    --grey: #445069;
    --tealblue: #144855;
    --lightblue: #92c3ca;
    --mediumblue: #539ea9;

    --font1: ;
    --font2: ;
}